<table class='table'>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
    <tr>
      <td></td>
      <td><%= item_name %></td>
      <td><%= price %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>