<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>配送先登録/一覧<h2>
        <div>
          <%= render 'create', deliverie: @deliverie %>
        </div>
        
        <div>
          <%= render 'index', deliveries: @deliveries %>
        </div>
    </div>
  </div>
</div>