      <h2>ジャンル一覧/追加<h2>
        <div>
          <%= render 'create', genre: @genre %>
        </div>
        <table>
           <thead>
            <tr>
             <th>ジャンル</th>
            </tr>
          </thead>
　        <tbody>
            <!--ジャンル名表示-->
             <tr>
              <% @genres.each do |genre| %>
               <td><%= genre.name %></td>
               <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
　            <% end %>
             </tr>
          </tbody>
      </table>
