<h2>ショッピングカート</h2>
<!--カート削除-->
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cartitems.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td>¥<%= item.price %></td>
      <td>¥<%= item.amount %></td>
      <td><%= item.genre.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>